#headshot {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 55%;
}

nav {
  position: fixed;
  top: 50px;
  left: 50px;
}

nav > a,
footer > a {
  display: block;
  padding-bottom: 10%;
  font-family: "Silkscreen";
  z-index: 3;
}

body {
  overflow-x: hidden;
  background-color: #fafafa;
}

#project-img {
  width: 200px;
  height: 200px;
  /* border-bottom: 3px solid black; */
  border-radius: 20px 20px 0px 0px;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

#project-icon {
  /* border: 3px solid black; */
  box-shadow: 0px 1px 3px 1px rgb(171, 171, 171);
  border-radius: 45px;
  width: 200px;
  height: 200px;
}

#tile {
  /* border: 3px solid black; */
  /* box-shadow: 1px 1px 20px 5px rgb(222, 222, 222); */
  box-shadow: 0px 1px 3px 1px rgb(171, 171, 171);
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  width: 200px;
  display: inline-block;
  background-color: white;
}

.tile-info {
  padding: 15px;
}

#page-title {
  color: black;
}

#projects {
  margin-left: 150px;
  width: 80%;
  padding-top: 100px;
  padding-left: 100px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
}

#languages {
  margin-left: 150px;
  width: 60%;
  padding-left: 100px;
  padding-bottom: 100px;
}

#contact {
  margin-left: 150px;
  width: 60%;
  padding: 100px;
  font-family: "Rock Salt", cursive;
  font-weight: 400;
}

#project-gallery {
  margin-top: 20px;
  margin-left: 150px;
  width: 80%;
  padding-left: 100px;
  padding-bottom: 100px;
}

#gallery-img {
  width: 216px;
  height: 384px;
  /* border: 3px solid black; */
  /* box-shadow: 1px 1px 20px 5px rgb(222, 222, 222); */
  box-shadow: 0px 1px 3px 1px rgb(171, 171, 171);
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#web-gallery-img {
  width: 600px;
  height: 450px;
  border: 3px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
}

#bubble {
  border: 3px solid black;
  width: 150px;
  height: 36px;
  font-size: 8pt;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Silkscreen";
  background-color: white;
}

#skill-img {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#design-project-img {
  width: 400px;
  height: 400px;
  /* border: 3px solid black; */
  /* box-shadow: 3px 3px 15px 1px rgb(186, 186, 186) ; */
  box-shadow: 0px 1px 3px 1px rgb(171, 171, 171);
  border-radius: 7px;
}

#form-field {
  display: block;
}

fieldset {
  margin-bottom: 0px;
  border: 0px;
}

footer {
  position: fixed;
  bottom: 50px;
  left: 50px;
  color: grey;
  font-size: 6pt;
  font-family: "Rock Salt", cursive;
  font-size: 4pt;
}

#project-link {
  font-size: 9pt;
  font-family: "Silkscreen";
}

a > img {
  width: 20px;
  height: 20px;
}

#message {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  background-image: url("Webpage\ Headshot.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  /* border: 3px solid black; */
  /* box-shadow: 1px 1px 20px 5px rgb(222, 222, 222) ; */
  box-shadow: 0px 1px 3px 1px rgb(171, 171, 171);
  /* Apply this margin, width and height formatting to the other page's main div sections. */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  height: 80%;
  padding: 50px;
  border-radius: 20px;
  background-color: antiquewhite;
  display: block;
}

p[id="large"] {
  font-size: 24pt;
}

p[id="medium"] {
  font-size: 16pt;
}

#silk,
button[id="form-field"] {
  font-family: "Silkscreen";
}

div[id="languages"] > h3 {
  font-family: "Rock Salt", cursive;
}

button {
  border-radius: 20px;
  padding: 5px;
  width: 150px;
  border: 3px solid black;
  background-color: #eeeeee;
}

.text {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
}

.text-small {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 10pt;
}

.text-micro {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  font-style: normal;
  font-size: 7pt;
}

#img-tile {
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

form {
  /* border: 3px solid black; */
  /* box-shadow: 1px 1px 20px 5px rgb(222, 222, 222) ; */
  box-shadow: 0px 1px 3px 1px rgb(171, 171, 171);
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

a:hover {
  color: fuchsia;
  text-decoration-line: line-through;
}

a:active {
  color: blueviolet;
}

.selected {
  text-decoration-line: underline;
  color: aquamarine;
  font-size: 20pt;
}

.icon:hover {
  background-color: fuchsia;
  border-radius: 5px;
  padding: 2px;
}

.icon:active {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 2px;
}

.icon-selected {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 2px;
}

.icon-selected:hover {
  width: 30px;
  height: 30px;
  background-color: fuchsia;
  border-radius: 5px;
  padding: 2px;
}

.icon-selected:active {
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 5px;
  padding: 2px;
}

#menu-icon {
  display: none;
}
textarea {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  nav {
    position: fixed;
    display: inline-block;
    background-color: #fafafa;
    width: 100%;
    height: 3rem;
    left: 0px;
    text-align: center;
    padding-top: 1rem;
    border-bottom: 3px solid black;
    padding-bottom: 0%;
    vertical-align: middle;
    top: 0px;
    z-index: 1;
  }

  nav > a,
  footer > a {
    display: inline-block;
    font-family: "Silkscreen";
    padding-right: 10px;
  }

  nav > a {
    vertical-align: middle;
    line-height: 0%;
  }

  footer > a {
    padding-bottom: 5px;
  }

  footer {
    position: fixed;
    left: 0px;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    background-color: #fafafa;
    border-top: 3px solid black;
    padding-top: 0%;
    line-height: 6pt;
  }

  #menu-text {
    display: none;
    line-height: 0%;
  }
  #menu-icon {
    display: inline-block;
  }

  #footer-text {
    display: none;
  }

  footer {
    bottom: 0px;
    width: 100%;
  }

  footer > div > a {
    display: inline-block;
    position: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px;
  }
  footer > div > p[id="copyright"] {
    float: right;
    display: block;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    padding-right: 5%;
  }

  footer > div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  footer > div > a > img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
  }

  #message {
    /* These margin settings are going to be key for all content sections on the pages */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8.5rem;
    margin-bottom: 1.5rem;
    padding: 10%;
    height: 50%;
    background-size: 95%;
    font-size: 9pt;
  }

  #projects,
  #languages,
  #contact,
  #project-gallery {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  #languages > h3 {
    font-size: 9pt;
    padding-left: 3px;
  }

  #tile {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
  }

  #bubble {
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 6pt;
  }

  #design-project-img,
  #web-gallery-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    /* display: block; */
    width: 100%;
    height: 100%;
  }

  #img-tile {
    display: block;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 5px;
    margin-bottom: 50px;
  }
  .mySlides {
    display: block;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 5px;
  }
  .container {
    position: relative;
    display: block;
  }

  .text-small {
    font-size: 8pt;
  }

  #contact {
    padding-top: 5rem;
  }
}

/* Slideshow gallery style */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: inline-block;
}
.mySlides > img {
  border-radius: 7px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.column > img {
  border-radius: 5px;
}
.column {
  margin: 5px;
}
